<div class="row">
	<div class="col-sm-5 left-content">
		<a href="#/winesearcher"><h1>VINOS</h1></a>
	</div>
	<div class="col-sm-7 right-content">
		<div class="row">
			<div class="col-sm-12 top-right-content">
				<a href="#/ownwines"><h1>OWN WINES</h1></a>
				<i></i>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 bottom-left-content">
				<div></div>
				<a href="#/logout"><h1>LOGOUT</h1></a>
			</div>
			<div class="col-sm-6 bottom-right-content">
				<a href="#perfil/{{persona._id}}"><h1>PERFIL</h1></a>
			</div>
		</div>
	</div>
</div>
