<div class="container-fluid region2">
	<div class="row">
		<div class="col-sm-12 section-header">
			<h2>Wine Bar</h2>
			<!--<input style="width: 50%;" placeholder="Tag..">-->
		</div>
		<div class="container section1">
			<div class="row">
				<div class="col-sm-12 widget-text">
					<div class="row">
						<p>
							UVE Wine Bar è il posto ideale dove degustare i prodotti delle Langhe e non solo, scelti e preparati con cura da professionisti: selezione di formaggi artigianali, prosciutti e salumi di alta qualità, specialità dolci e salate della tradizione.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid section2">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<img style="max-width: 100%;" class="responsive-img" src="../img/winebar-3.jpeg">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-12 widget-text-title">
								<a href="#/winesearcher"><h3>Troba-ho</h3></a>
								<p>
									UVE Wine Bar è il posto ideale dove degustare i prodotti delle Langhe e non solo, scelti e preparati con cura da professionisti: selezione di formaggi artigianali, prosciutti e salumi di alta qualità, specialità dolci e salate della tradizione.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="containter-fluid section3">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="col-sm-12 widget-text-title">
								<a href="#/topwines"><h3>Els mes valorats</h3></a>
								<p>
									UVE Wine Bar è il posto ideale dove degustare i prodotti delle Langhe e non solo, scelti e preparati con cura da professionisti: selezione di formaggi artigianali, prosciutti e salumi di alta qualità, specialità dolci e salate della tradizione.
								</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<img style="max-width: 100%;" class="responsive-img" src="../img/home-wine-bar.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="containter-fluid section4">
			<div class="row">
				<div class="col-sm-12">
					<h1 style="text-align: center; color:white; margin-top: 50px">Tens una bodega?</h1>
					<h3 style="text-align: center; color:white;">No dubtis en afegir els teus vins i forma part de la comunitat</h3>
					<div class="col-sm-12 add-wine">
						<a href="#/pageaddwine">AFEGIR VÍ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
