<div class="container-fluid home-logged">
	<div class="row">
		<div class="col-sm-12 section-header">
			<h2>Wine Bar</h2>
			<!--<input style="width: 50%;" placeholder="Tag..">-->
		</div>
		<div class="container section1">
			<div class="row">
				<div class="col-sm-12 widget-text">
					<div class="row">
						<p>
							A onWine apostem fort pels productes de la nostra terra. Catalunya és, sens dubte, una de les regions d'Espanya amb més cultura vinícola i d'això ens sentim ben orgullosos. Volem facilitar que la gent amant del vi tingui un espai on poder cercar, compartir i interactuar amb els seus vins favorits.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid section2">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<img style="max-width: 100%;" class="responsive-img" src="../img/winebar-3.jpeg">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="col-sm-12 widget-text-title">
								<a href="#/winesearcher"><h3>Troba-ho</h3></a>
								<p>
									A onWine tenim una gran varietat de vins de les millores vinyes de la terra.
									Trobaràs una gran varietat de vins que podràs guardar, comentar i compartir a les
									teves xarxes socials. No dubtis en fer una cerca del teu vi favorit.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="containter-fluid section3">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="col-sm-12 widget-text-title">
								<a href="#/topwines"><h3>Els mes valorats</h3></a>
								<p>
									Aquí trobaràs una selecció dels millors vins valorats pels nostres usuaris. Un podium amb els tres millors vins de cada tipus. No dubtis i entra a comprovar quins són els vins millors valorats.
								</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<img style="max-width: 100%;" class="responsive-img" src="../img/home-wine-bar.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="containter-fluid section4">
			<div class="row">
				<div class="col-sm-12">
					<h1 style="text-align: center; color:white; margin-top: 50px">Tens una bodega?</h1>
					<h3 style="text-align: center; color:white;">No dubtis en afegir els teus vins i forma part de la comunitat</h3>
					<a href="#/pageaddwine" class="btn col-sm-offset-5 button button-white" role="button">AFEGIR VI</a>
				</div>
			</div>
		</div>
	</div>
</div>
