<div class="row">
	<div class="col-sm-12 profile-header">
		<div class="profile-sub-header">
		 	<div class="seguidores">
		 		<p>Seguidores: </p>
		 	</div>
		</div>
	</div>
	<div class="col-sm-12 profile-content">
		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-12">
						<img src="../img/profile.png" class="profile-photo">
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<div>
							<h5>Nombre: </h5>
						</div>
						<div>
							<p>{{userProfile.nombre}}</p>
						</div>
					</div>
					<div class="col-sm-12">
						<div>
							<h5>Apellidos: </h5>
						</div>
						<div>
							<p>{{userProfile.apellidos}}</p>
						</div>
					</div>
					<div class="col-sm-12">
						<div>
							<h5>Email: </h5>
						</div>
						<div>
							<p>{{userProfile.email}}</p>
						</div>
					</div>
					<div class="col-sm-12">
						<div>
							<h5>Contraseña: </h5>
						</div>
						<div>
							<p>{{ userProfile.password }}</p>
						</div>
					</div>
					<div class="col-sm-12">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
