<div class="row">
	<div id="product-header" class="col-sm-12 product-content product-header-red">
		<a href="#/winesearcher"><i class="fa fa-angle-double-left"></i></a>
		<div class="col-sm-12 product-title">
			<h2>{{product.name}}</h2>
		</div>
	</div>
<div class="row">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-12 product-photo">
				<img ng-src="{{product.image}}">
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-12 share-box">
				<div class="row">
					<div class="col-sm-4 share-facebook">
						<a href=""
							socialshare
							socialshare-url='www.onwine.com'
							socialshare-text="onwine"
							socialshare-provider="facebook">
							<i class="fa fa-facebook">
							</i>
						</a>
					</div>
					<div class="col-sm-4 share-twitter">
						<a href=""
							socialshare
							socialshare-provider="twitter">
						<i class="fa fa-twitter"></i>
						</a>
					</div>
					<div class="col-sm-4 share-google">
						<a href=""
							socialshare
							socialshare-url='www.onwine.com'
							socialshare-provider="google+">
						<i class="fa fa-google-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 rank-box product-rate">
						<span ng-if="product.snoothrank >= 0.6 && product.snoothrank <= 1.5">
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank >= 1.6 && product.snoothrank <= 2.5">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank >= 2.6 && product.snoothrank <= 3.5">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank >= 3.6 && product.snoothrank <= 4.5">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank >= 4.6 && product.snoothrank <= 5.5">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
			</div>
			<div class="col-sm-12 buy-box">
				<div class="row">
					<div class="col-sm-2 product-price">
						<span ng-if="product.price > 0">{{product.price | number}} €</span>
						<span ng-if="product.price < 0.1">Precio no disponible</span>
					</div>
					<div class="col-sm-4 box-add">
						<div class="row">
							<div class="col-sm-12 product-add-input">
								<input>
								<button>Añadir al carro</button>
							</div>
						</div>
					</div>
					<div class="col-sm-1 like" style="text-align: center; margin-top: 11px;">
						<div class="row">
							<span>
								<button ng-click="addFavorite()" id="likeBtn" class="fa fa-heart-o fa-2x"></button>
							</span>
						</div>
					</div>
					<div class="col-sm-5 rating" style="margin-top:11px;">
						<span class="">
							<button id='oneStar' class="fa fa-star-o fa-2x" ng-click="addOwnWine(1)" ng-disabled="isDisabled"></button>
							<button id='twoStars' class="fa fa-star-o fa-2x" ng-click="addOwnWine(2)" ng-disabled="isDisabled"></button>
							<button id='threeStars' class="fa fa-star-o fa-2x" ng-click="addOwnWine(3)" ng-disabled="isDisabled"></button>
							<button id='fourStars' class="fa fa-star-o fa-2x" ng-click="addOwnWine(4)" ng-disabled="isDisabled"></button>
							<button id='fiveStars' class="fa fa-star-o fa-2x" ng-click="addOwnWine(5)" ng-disabled="isDisabled"></button>
						</span>

					</div>
				</div>
			</div>
			<div class="col-sm-12 product-box-content-header">
				<ul class="nav nav-tabs">
				  <li><a data-toggle="tab" data-target="#ficha">Ficha Técnica</a></li>
				  <li><a data-toggle="tab" data-target="#comentarios">Comentarios de Prensa</a></li>
				  <li><a data-toggle="tab" data-target="#menu2">Notes Somellier</a></li>
				  <li><a data-toggle="tab" data-target="#comentariosUsuarios">Comentarios de Usuarios</a></li>
				</ul>
				<div class="tab-content product-box-content-body">
				  <div id="ficha" class="tab-pane fade in active">
				  		<div class="row">
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Tipus de vi: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.type}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Denominació: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.region}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Celler: </p>
						  			</div>
						  			<div class="col-sm-9">
							  			<p>
							  				{{product.winery}}
							  			</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Varietat de raïm: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.varietal}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Anyada: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.vintage}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Alcohol: </p>
						  			</div>
						  			<div class="col-sm-9">
							  			<p>
							  				{{product.alcohol}}
							  			</p>
						  			</div>
				  				</div>
				  			</div>
				  		</div>
				  </div>
				  <div>
				  </div>
				  <div id="comentarios" class="tab-pane fade">
				    <h4>Comentarios:</h4>
					<div class="reviews" ng-repeat="comment in product.reviews">
						<p>
							<strong>{{comment.name}}</strong> on: {{comment.date | date}}
						</p>
						<p>
							{{comment.body}}
						</p>
						<hr>
					</div>
				  </div>
				  <div id="menu2" class="tab-pane fade">
				    <div class="wine-notes">
						<p ng-if="product.wm_notes == ''">
							No hay notas sobre este vino.
						</p>
						<p>
							{{product.wm_notes}}
						</p>
					</div>
				  </div>
				  <div id="comentariosUsuarios" class="tab-pane fade">
				  	<div class="col-sm-6">
							<h4>Comentarios:</h4>
					</div>
				  	<div class="col-sm-6">
				  		<button ng-click="clickToOpen()">Comentar</button>
				  	</div>
					<div class="reviews row" ng-repeat="comment in comentarios">
						<div class="col-sm-12">
							<p>
								<strong>{{comment.usuario}}</strong> on: {{comment.time | date}}
							</p>
							<p>
								{{comment.texto}}
							</p>
							<hr>
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/ng-template" id="popupTmpl">
	<div class="">
		<h3>Comentario</h3>
	</div>
	<div class="modal-text">
		<summernote type="text" config="options" ng-model="comentario"></summernote>
	</div>
	<div>
		<button ng-click="addComentario()">
			Comentar
		</button>
	</div>
</script>
<style type="text/css">
.ngdialog-theme-default{
	background-color: transparent;
}
.ngdialog-theme-default > .ngdialog-content{
	border: 3px solid red;
	border-radius: 0px !important;
	background: #444 !important;
}
.ngdialog-theme-default > .ngdialog-content > .modal-text > input{
	height: 300px;
	width: 100%;
}
</style>

