<div class="row">
	<div id="product-header" class="col-sm-12 product-header-red">
		<a href="#/winesearcher"><i class="fa fa-angle-double-left"></i></a>
		<div class="col-sm-12 product-title">
			<h2>{{product.name}}</h2>
		</div>
	</div>
<div class="row">
	<div class="col-sm-4">
		<div class="row">
			<div class="col-sm-12 product-photo">
				<img ng-src="{{product.image}}">
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-12 share-box">
				<div class="row">
					<div class="col-sm-4 share-facebook">
						<a href="">
							<i class="fa fa-facebook"></i>
						</a>
					</div>
					<div class="col-sm-4 share-twitter">
						<a href="">
						<i class="fa fa-twitter"></i>
						</a>
					</div>
					<div class="col-sm-4 share-google">
						<a href="">
						<i class="fa fa-google-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 rank-box">
				<div class="row">
					<div class="col-sm-2 product-rate">
						<span ng-if="product.snoothrank > 0.5 && product.snoothrank < 2">
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank > 1.5 && product.snoothrank < 3">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank > 2.5 && product.snoothrank < 4">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank > 3.5 && product.snoothrank < 5">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
						<span ng-if="product.snoothrank > 4.5 && product.snoothrank < 6">
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
							<i class="fa fa-glass"></i>
						</span>
					</div>
					<div class="col-sm-2 product-price">
						<span ng-if="product.price > 0">{{product.price | number}} €</span>
						<span ng-if="product.price < 0.1">Precio no disponible</span>
					</div>
					<div class="col-sm-4 product-add"></div>
					<div class="col-sm-4 product-btn-add"></div>
				</div>
			</div>
			<div class="col-sm-12 product-box-content-header">
				<ul class="nav nav-tabs">
				  <li><a data-toggle="tab" data-target="#ficha">Ficha Técnica</a></li>
				  <li><a data-toggle="tab" data-target="#comentarios">Comentarios</a></li>
				  <li><a data-toggle="tab" data-target="#menu2">Menu 2</a></li>
				</ul>
				<div class="tab-content product-box-content-body">
				  <div id="ficha" class="tab-pane fade in active">
				  		<div class="row">
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Tipus de vi: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.type}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Denominació: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.region}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Celler: </p>
						  			</div>
						  			<div class="col-sm-9">
							  			<p>
							  				{{product.winery}}
							  			</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Varietat de raïm: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.varietal}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Anyada: </p>
						  			</div>
						  			<div class="col-sm-9">
						  				<p>
						  					{{product.vintage}}
						  				</p>
						  			</div>
				  				</div>
				  			</div>
				  			<div class="col-sm-12">
				  				<div class="row">
				  					<div class="col-sm-3">
						  				<p>Alcohol: </p>
						  			</div>
						  			<div class="col-sm-9">
							  			<p>
							  				{{product.alcohol}}
							  			</p>
						  			</div>
				  				</div>
				  			</div>
				  		</div>
				  </div>
				  <div id="comentarios" class="tab-pane fade">
				    <h4>Comentarios:</h4>
					<div class="reviews" ng-repeat="comment in product.reviews">
						<p>
							{{comment.name}} on: {{comment.date | date}}
						</p>
						<p>
							{{comment.body}}
						</p>
						<hr>
					</div>
				  </div>
				  <div id="menu2" class="tab-pane fade">
				    <div class="wine-notes">
						<p ng-if="product.wm_notes == ''">
							No hay notas sobre este vino.
						</p>
						<p>
							{{product.wm_notes}}
						</p>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>

