<div class="row">
	<div class="col-sm-12 box-content">
		<div class="search-box-top">
			<h1>Cercador</h1>
		</div>	
		<div class="wineColor"> <!-- search-box-bottom -->
			<h3 class="wine-color-title">Tipus de vi</h3>	
			<cardflow model="cardflow">
                <div class="cardflow-card" ng-repeat="card in cardflow.cards" style="background-image: url( {{card.image}} )"></div>
            </cardflow>
        </div>
		<div class="row">
			<div class="col-sm-3 wine-search-parameters">
				<form name="formWineSearch">
					<div class="wineVintage">
						<h4>Anyada</h4>
						<div class="form-group">
							<input type="number" name="inputVintage" ng-model="vintage.year" placeholder="1900 - 2016" ng-minlength="1900" ng-maxlength="2016">
							<div ng-messages="formWineSearch.inputVintage.$error">
								<div ng-messages-include="../views/messages.html"></div>
							</div>
						</div>
					</div>
					<hr>
					<div class="wineDO">
						<h4>Denominació d'Origen</h4>
						<div class="form-group" ng-repeat="do in DOs">
							<input id="{{do.id}}" type="checkbox" value="{{do.name}}" ng-click="toggleSelection(do.name)">
							{{do.name}}
						</div>
					</div>
					<hr>
					<div class="form-group">
						Busques concretament?
						<input type="text" name="inputKeywords" ng-model="keywords" placeholder="Paraules clau">
					</div>
					<button type="submit" ng-click="search()">Buscar</button>
				</form>
			</div>
			<div class="col-sm-9 wine-search-results">
				<h2>Resultats de la cerca:</h2>
	            <div class="row">
	            	<div ng-repeat="wine in fiveDay | filter:query" class="col-sm-4">
	            		<div class="row wine-box">
	            			<div class="col-sm-12">
	            				<p style="font-weight:bold;" data-code="{{wine.code}}">
									<a href="#product/{{wine.code}}">
					              	{{wine.name}}
					              	</a>
				            	</p>
	            			</div>
			            	<div class="col-sm-12 image-box">
			                	<img ng-src="{{wine.image}}">
			              	</div>
				            <div class="col-sm-12 wine-text">
				            	{{wine.type}}
				            	<br>
				            	{{wine.region}}
				            </div>
				            <!-- low -->
				            <div class="col-sm-12 wine-vintage">
								{{wine.vintage}}
				            </div>
	            		</div>
					</div>
	            </div>
			</div>
		</div>
	</div>
</div>