<div class="row">
	<div class="col-sm-12 wine-searcher">
		<!--<img src="../img/grapes.jpeg" class="background-image">-->
		<div class="wine-color">
			<cardflow model="cardflow">
                <div class="cardflow-card" ng-repeat="card in cardflow.cards" style="background-image: url( {{card.image}} )"></div>
            </cardflow>
        </div>
		<div class="row">
			<div class="col-sm-12 wine-search-parameters">
				<form name="formWineSearch" class="form-horizontal">
					<div class="row">
						<div class="form-group col-sm-4">
							<h4 class="text-center">Anyada</h4>
							<div class="col-sm-offset-3 col-sm-6">
								<input type="number" class="form-control text-center" name="inputVintage" ng-model="vintage" placeholder="1900 - 2016" min="1900" max="2016">
								<div ng-messages="formWineSearch.inputVintage.$error">
									<div ng-messages-include="../views/messages.html"></div>
								</div>
							</div>
						</div>
						<div class="form-group col-sm-4">
							<h4 class="text-center">Denominació d'Origen</h4>
							<div class="col-sm-offset-2 col-sm-8">
								<select name="selectDo" id="selectDo" ng-model="DOs.selectedDO" class="form-control">
									<option ng-repeat="option in DOs.availableOptions" value="{{option.id}}">{{option.name}}</option>
								</select>
							</div>
						</div>
						<button type="submit" ng-click="search()" class="col-sm-offset-1 col-sm-2 button button-white">Cercar</button>
					</div>
				</form>
			</div>
			<div class="col-sm-12 wine-search-results">
	            <div class="row">
	            	<div ng-repeat="wine in fiveDay | filter:query" class="col-sm-4">
	            		<div class="wine-box">
	            			<a href="#product/{{wine.code}}">
		            			<div class="col-sm-12">
		            				<p class="wine-title" data-code="{{wine.code}}">
						              	{{wine.name}}
					            	</p>
		            			</div>
				            	<div class="col-sm-12 image-box">
				            		<img ng-if="wine.image" ng-src="{{wine.image}}">
				                	<img ng-src="{{wine.image_url}}">
				              	</div>
					            <div class="col-sm-12 wine-text">
					            	<!-- {{wine.type}}
					            	<br> -->
					            	{{wine.region.split(" > ").pop()}}
					            </div>
					            <div class="col-sm-12 wine-vintage">
									{{wine.vintage}}
					            </div>
					        </a>
	            		</div>
					</div>
	            </div>
			</div>
		</div>
	</div>
</div>