@import 'https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900';
@import 'https://fonts.googleapis.com/css?family=Parisienne';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,900,700';
/*######## VARIABLES ############*/
@font-face {
  font-family: 'bromello';
  font-style: normal;
  font-weight: normal;
  src: local('bromello'), url('bromello/bromello.woff') format('woff');
}
body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Playfair Display', serif !important;
}
body,
html {
  height: 100%;
  font-family: 'Playfair Display', serif;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  height: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
}
#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#page-content-wrapper {
  width: 100%;
  height: 100%;
}
.page {
  height: 100%;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  position: relative;
  line-height: 50px;
  display: inline-block;
  width: 100%;
}
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #400e20;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #cfc47b;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #560554;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
  font-size: 27px;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background-color: #3F3F3F;
  padding: 50px;
  position: fixed;
  top: 40%;
  z-index: 999;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 0px;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 20px;
  height: 3px;
  width: 50%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: white;
}
.hamburger.is-closed .hamb-top {
  top: 35px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 35px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-top {
  top: 30px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 30px;
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.hamburger.is-open .hamb-middle {
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
}
/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1;
}
.sidebar-brand {
  text-align: right;
  font-family: 'bromello';
  position: absolute;
  left: 4px;
  bottom: 16px;
  font-size: 34px;
  color: black;
}
.region1 {
  height: 100%;
  background: url('../img/home-header.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.region1 .widget-container-buttons {
  bottom: -400px;
  text-align: center;
}
.region1 .round-button {
  cursor: pointer;
  width: 70px;
  display: inline-block;
  margin-left: 40px;
}
.region1 .round-button-circle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  border: 1px solid white;
  overflow: hidden;
  background-color: transparent;
}
.region1 .round-button-circle:hover {
  border: 2px solid white;
}
.region1 .round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  font-weight: 300;
  text-align: center;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}
.region2 .section-header {
  height: 100vh;
  background: url('../img/winebar-1.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.region2 .section-header h2 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 30%;
}
.region2 .section1 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.region2 .section1 .widget-text {
  padding-top: 200px !important;
  padding-bottom: 200px !important;
}
.region2 .section1 .widget-text p {
  line-height: 35px;
  text-align: center;
  font-size: 20px;
}
.region2 .section3 .widget-text-title,
.region2 .section2 .widget-text-title {
  padding-top: 73px;
  padding-bottom: 73px;
  padding-right: 10px;
  padding-left: 10px;
}
.region2 .section3 .widget-text-title h3,
.region2 .section2 .widget-text-title h3 {
  color: #3F3F3F;
  margin-top: 80px;
  text-align: center;
  font-size: 65px;
  margin-bottom: 45px;
  text-decoration: none;
}
.region2 .section3 .widget-text-title p,
.region2 .section2 .widget-text-title p {
  text-align: left;
  font-size: 17px;
  line-height: 40px;
}
.region2 .section4 {
  height: 350px;
  background: url('../img/langhe.jpg') no-repeat center center;
  background-size: cover;
}
.region2 .section4 .add-wine {
  margin-top: 50px;
  text-align: center;
}
.region2 .section4 .add-wine a {
  padding: 15px 50px 15px 50px;
  border: 2px solid white;
  border-radius: 2px;
  color: white;
  transition: all 1s ease;
  text-decoration: none;
}
.region2 .section4 .add-wine a:hover {
  color: black;
  background-color: white;
}
.section-add-wine {
  background-color: #F8F8F8;
}
.section-add-wine h2 {
  font-size: 60px;
  position: relative;
  top: -57px;
}
.section-add-wine .addwine-box {
  margin-top: 125px;
  z-index: 1;
  padding-left: 30px;
  background-color: white;
}
.section-add-wine .addwine-box .thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}
.section-add-wine .addwine-box form .progress {
  line-height: 15px;
}
.section-add-wine .addwine-box .progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.section-add-wine .addwine-box .progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
.section-add-wine .addwine-box .box-input {
  margin-bottom: 25px;
}
.section-add-wine .addwine-box .box-input input,
.section-add-wine .addwine-box .box-input select {
  display: block;
  background: #efefef;
  height: 80px;
  padding: 0 40px;
  border: 0;
  width: 100%;
  font-size: 20px;
}
.section-add-wine .addwine-box .box-input .button-stroke {
  margin-right: 100px;
  float: right;
  padding: 15px 60px 15px 60px;
  background-color: transparent;
  border: 4px solid #333;
  border-bottom-width: 7px;
  color: #333;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-size: 22px;
}
.section-add-wine .addwine-box .box-input .button-stroke:hover {
  background: #333;
  -webkit-transition: background 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: background 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  color: white;
}
.widget-searcher {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
/*-------------------------------*/
/*        Wine Searcher          */
/*-------------------------------*/
.page-weather {
  background-size: cover;
  opacity: 0.8;
}
.page-weather .wine-searcher .wine-searcher .background-image {
  -webkit-filter: blur(3px);
  /* Chrome, Safari, Opera */
  filter: blur(3px);
  position: fixed;
  height: 100%;
  width: 100%;
}
.page-weather .wine-searcher .wine-color {
  padding: 50px 50px 15px 50px;
}
.page-weather .wine-searcher .wine-search-parameters {
  padding: 15px 45px 15px 45px;
  background-color: #333333;
  border-radius: 5px;
}
.page-weather .wine-searcher .wine-search-parameters h4 {
  color: #f5f5f5;
}
.page-weather .wine-searcher .wine-search-parameters #selectDo {
  text-align-last: center;
}
.page-weather .wine-searcher .wine-search-parameters .search-button {
  padding-top: 15px;
}
.page-weather .wine-searcher .wine-search-parameters button {
  -moz-box-shadow: inset 0px 1px 0px 0px #e6cafc;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e6cafc;
  box-shadow: inset 0px 1px 0px 0px #e6cafc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c579ff), color-stop(1, #a341ee));
  background: -moz-linear-gradient(center top, #c579ff 5%, #a341ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c579ff', endColorstr='#a341ee');
  background-color: #c579ff;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  text-indent: 0;
  border: 1px solid #a946f5;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 65px;
  line-height: 65px;
  width: 131px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #8628ce;
}
.page-weather .wine-searcher .wine-search-parameters button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a341ee), color-stop(1, #c579ff));
  background: -moz-linear-gradient(center top, #a341ee 5%, #c579ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a341ee', endColorstr='#c579ff');
  background-color: #a341ee;
}
.page-weather .wine-searcher .wine-search-parameters button:active {
  position: relative;
  top: 1px;
}
.page-weather .wine-searcher .wine-search-results {
  padding: 50px 50px 20px 50px;
}
.page-weather .wine-searcher .wine-search-results .wine-box {
  -webkit-box-shadow: 3px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 1px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: plum;
  height: 270px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.page-weather .wine-searcher .wine-search-results .wine-box p {
  font-weight: bold;
  color: #4b0082;
}
.page-weather .wine-searcher .wine-search-results .wine-box a {
  text-decoration: none;
}
.page-weather .wine-searcher .wine-search-results .wine-box .image-box img {
  margin: auto;
  border-radius: 5px;
}
.page-weather .wine-searcher .wine-search-results .wine-box .wine-text,
.page-weather .wine-searcher .wine-search-results .wine-box .wine-vintage {
  color: #333333;
}
.page-weather .wine-searcher .wine-search-results .wine-box .wine-text {
  padding-top: 10px;
}
.page-product .product-content .fa,
.page-product .product-content .fa-arrow-left {
  color: white;
  font-size: 35px;
  margin-top: 15px;
  margin-left: 10px;
}
.page-product .product-content .product-title {
  margin: 10px 0 10px 0;
}
.page-product .product-content .product-title h2 {
  color: whitesmoke;
  font-size: 55px;
  text-shadow: -2px -2px 5px #969696;
}
.page-product .product-header-red {
  background: url('../img/red-wine-header.jpg') no-repeat center center;
  background-size: cover;
  height: 200px;
}
.page-product .product-header-white {
  background: url('../img/white-wine-header.jpg') no-repeat center center;
  background-size: cover;
  height: 200px;
}
.page-product .product-header-rose {
  background: url('../img/rose-wine-header.jpg') no-repeat center center;
  background-size: cover;
  height: 200px;
}
.page-product .share-box .fa-facebook,
.page-product .share-box .fa-twitter,
.page-product .share-box .fa-google-plus {
  color: white;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-product .share-box .share-facebook {
  background-color: #4662B0;
  text-align: center;
}
.page-product .share-box .share-twitter {
  background-color: #1B95E0;
  text-align: center;
}
.page-product .share-box .share-google {
  background-color: #DB4437;
  text-align: center;
}
.page-product .buy-box {
  margin-top: 35px;
  margin-bottom: 35px;
}
.page-product .buy-box .product-price span {
  font-size: 25px;
  color: black;
  padding: 10px 10px 10px 10px;
}
.page-product .box-add .product-add-input input {
  width: 15%;
  height: 32px;
  border: 1px solid #c8bfac;
  text-align: center;
}
.page-product .box-add .product-add-input input:focus {
  box-shadow: #000000;
}
.page-product .box-add .product-add-input button {
  background-color: transparent;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 32px;
  color: black;
  border: 1px solid black;
}
.page-product .rating span button,
.page-product .like span button {
  border: 0;
  background: transparent;
  padding: 0;
}
.page-product .rating span .fa-star,
.page-product .like span .fa-star,
.page-product .rating span .fa-star-o,
.page-product .like span .fa-star-o {
  color: black;
}
.page-product .rank-box,
.page-product .product-rate {
  margin-top: 35px;
}
.page-product .rank-box .fa-glass,
.page-product .product-rate .fa-glass {
  color: #6a1734;
  font-size: 35px;
}
.page-product .product-photo {
  text-align: center;
}
.page-product .product-photo img {
  width: 70%;
}
.page-product .product-box-content {
  margin-top: 10px;
}
.header-top-wines .section-header-min {
  height: 350px;
  background: url('../img/home-top.jpg') no-repeat center center;
  background-size: cover;
}
.page-top-wines .nav-tabs {
  text-align: center;
  border: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}
.page-top-wines .nav-tabs li {
  float: none;
  display: inline-block;
}
.page-top-wines .nav-tabs li a {
  color: #3F3F3F;
  font-size: 25px;
}
.page-top-wines .box-wine h2,
.page-top-wines .box-wine h3,
.page-top-wines .box-wine h4,
.page-top-wines .box-wine h5 {
  text-align: center;
}
.page-top-wines .box-wine .box-name-rate {
  background-color: #333333;
  height: 331px;
  color: white;
}
.page-top-wines .box-wine .box-celler {
  background-color: #3F3F3F;
  height: 331px;
  color: white;
}
.page-top-wines .box-wine .white-box {
  height: 331px;
  background-color: white;
}
.page-top-wines .box-wine .white-box h3 {
  color: #333333;
}
.page-top-wines .box-wine .box {
  display: table;
}
.page-top-wines .box-wine .box .cell {
  display: table-cell;
  vertical-align: middle;
  color: #999999;
}
.profile-header {
  height: 250px;
  background: url('../img/profileheader.jpg') no-repeat center center;
  background-size: cover;
}
.profile-header .profile-sub-header {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
}
.profile-content h5 {
  font-weight: bold;
}
.profile-content .profile-photo {
  width: 50%;
  border-radius: 81px;
  border: 2px solid whitesmoke;
  margin-top: -97px;
  margin-left: 105px;
}
.profile-content .profile-table {
  margin-top: 80px;
}
.profile-content .profile-table td {
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-content .profile-table td p {
  margin: 0;
}
.profile-content .profile-table td input {
  width: 100%;
  height: 32px;
  border: 1px solid #c8bfac;
  text-align: center;
}
.profile-content .profile-table td input:disabled {
  background-color: #e6e6e6;
}
.profile-content .profile-table td input:focus {
  box-shadow: #000000;
}
.profile-content .fa-pencil {
  cursor: pointer;
}
.profile-content .fa-pencil:hover {
  color: green;
}
.profile-content .favourites {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid black;
  font-size: 20px;
  width: 70%;
  margin-top: 100px;
}
.profile-content .btn-save {
  padding: 15px 50px 15px 50px;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 2px;
  color: black;
  transition: all 1s ease;
  text-decoration: none;
  float: right;
}
.profile-content .box-favorites {
  width: 70%;
  margin-top: 10px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}
.profile-content .box-favorites li {
  padding-top: 3px;
  text-decoration: none;
  list-style: none;
}
.profile-content .box-favorites li a {
  color: #333333;
}
/*==================== ADMIN ======================*/
.page-admin {
  font-family: 'Lato', sans-serif !important;
}
.page-admin table thead {
  font-weight: bold;
}
.page-admin .aside-admin {
  background-color: #ffffff;
  border-right: 1px solid #e3e3e3;
  height: 100vh;
}
.page-admin .admin-box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #4797c1;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 50px auto;
}
.page-admin .admin-box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.page-admin .admin-box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.page-admin .admin-box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.page-admin .hero-widget {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 250px !important;
}
.page-admin .well-sm {
  padding: 9px;
  border-radius: 3px;
}
.page-admin .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/*==================== ADMIN ======================*/
/* ANIMATIONS
============================================================================= */
.page.ng-leave {
  z-index: 9999;
}
.page.ng-enter {
  z-index: 8888;
}
/* page specific animations ------------------------ */
.page-weather.ng-leave {
  -webkit-animation: slideOutLeft 1s both ease-in;
  -moz-animation: slideOutLeft 1s both ease-in;
  animation: slideOutLeft 1s both ease-in;
}
.page-weather.ng-enter {
  -webkit-animation: slideInRight 1s both ease-in;
  -moz-animation: slideInRight 1s both ease-in;
  animation: slideInRight 1s both ease-in;
}
.page-login.ng-enter {
  -webkit-animation: slideInUp 0.5s both ease-in;
  -moz-animation: slideInUp 0.5s both ease-in;
  animation: slideInUp 0.5s both ease-in;
}
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}
@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}
/*============================================================================= */
footer {
  background-color: black;
}
