@import 'https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900';
@import 'https://fonts.googleapis.com/css?family=Parisienne';

/*######## VARIABLES ############*/

@first-color: darken(#942049, 10%); //light red wine
@second-color: darken(#942049, 10%); //dark red wine
@third-color: lighten(#C2B355, 10%); //light white wine
@fourth-color: #C2844D; //orange-creme
@five-color: #C8BFAC; // creme

@font-face {
font-family: 'bromello';
font-style: normal;
font-weight: normal;
src: local('bromello'), url('./bromello/bromello.woff') format('woff');
}

body {
    position: relative;
    overflow-x: hidden;
}

body,
html{
	height: 100%;
	font-family: 'Lato', sans-serif !important;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
	height: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    height: 100%
    //padding-top: 70px;
}

.page{
	height: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: white;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}
.region1{
	font-family: 'Lato', sans-serif !important;
	height: 100%;
	background: url('../img/background_home2.jpg') no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
  .home-title{
  	text-align: right;
  	font-family: 'bromello';
  	h1{
  		text-align: center;
  		font-size: 100px;
  		color: white;
  	}
  }
  .widget-button{
  	.signIn{
  		padding: 10px 100px;
  		background-color: @first-color;
  		color: white;
  		border-radius: 3px;
  	}
  	.signUp{
  		padding: 10px 100px;
  		background-color: transparent;
  		border-radius: 3px;
  		border: 2px solid white;
  		color: white;
  	}
  }
  .square{
  	height: 250px;
  	margin-top: 25px;
  	text-align: center;
  	.s-top{
  		h5{
  			font-weight: 300;
  			font-size: x-large;
  			padding-top: 10px;
  			padding-left: 10px;
  			color:white;
  		}
  		background: url('../img/wine1.jpg') no-repeat center center;
  		background-size: 150%;
  		height: 100%;
  		filter: grayscale(100%) !important;
	    -webkit-filter: grayscale(100%);
	    -webkit-transition: all .3s ease;
	    bottom:0;
	    &:hover{
			background-size:140%;
			position: relative;
			filter: grayscale(0%);
	        -webkit-filter: grayscale(0%);
	    	filter: none;
        }
  	}
  	.s-favorite{
  		h5{
  			font-weight: 300;
  			font-size: x-large;
  			padding-top: 10px;
  			padding-left: 10px;
  			color:white;
  		}
  		background: url('../img/wine2.jpeg') no-repeat center center;
  		background-size: cover;
  		background-size: 150%;
  		height: 100%;
  		filter: grayscale(100%) !important;
	    -webkit-filter: grayscale(100%);
	    -webkit-transition: all .3s ease;
	    bottom:0;
	    &:hover{
			background-size:140%;
			position: relative;
			filter: grayscale(0%);
	        -webkit-filter: grayscale(0%);
	    	filter: none;
        }
  	}
  	.s-find{
  		h5{
  			font-weight: 300;
  			font-size: x-large;
  			padding-top: 10px;
  			padding-left: 10px;
  			color:white;
  		}
  		background: url('../img/image-bottom-left.jpg') no-repeat center center;
  		background-size: cover;
  		background-size: 150%;
  		height: 100%;
  		filter: grayscale(100%) !important;
	    -webkit-filter: grayscale(100%);
	    -webkit-transition: all .3s ease;
	    bottom:0;
	    &:hover{
			background-size:140%;
			position: relative;
			filter: grayscale(0%);
	        -webkit-filter: grayscale(0%);
	    	filter: none;
        }
  	}
  	.s-profile{
  		h5{
  			font-weight: 300;
  			font-size: x-large;
  			padding-top: 10px;
  			padding-left: 10px;
  			color:white;
  		}
  		background: url('../img/background_home.jpeg') no-repeat center center;
  		background-size: cover;
  		background-size: 150%;
  		height: 100%;
  		filter: grayscale(100%) !important;
	    -webkit-filter: grayscale(100%);
	    -webkit-transition: all .3s ease;
	    bottom:0;
	    &:hover{
			background-size:140%;
			position: relative;
			filter: grayscale(0%);
	        -webkit-filter: grayscale(0%);
	    	filter: none;
        }
  	}
  }
}

.page-weather{
	//.make-md-column(12);
	//background: url('../img/wines-background.jpg') no-repeat center center;
	background-size: cover;
	opacity: 0.8;

	.box-content{
		//background-color: white;
		.box-content-top{
			background: rgba(255, 255, 255, 255.9);
			border-radius: 0px;
			padding: 0 15px 15px 25px;
		}
		.box-content-bottom{
			//padding: 25px 25px 30px 25px;
			background: rgba(255, 255, 255, 0.8);
			overflow-y: scroll;
			height: 500px;
			.wine-box{
				-webkit-box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
				box-shadow: 3px 1px 10px 0px rgba(0,0,0,0.75);
				background-color: whitesmoke;
				height: 245px;
				p{
					text-align: center;
				}
				.image-box{
					text-align: center;
					img{
						margin: auto;
					}
				}
				.wine-text{
					text-align: center;
				}
				.wine-vintage{
					text-align: center
				}
			}
		}
	}

	.search-box{
		height: 100%;
		border-right: 2px solid black;

		.search-box-top{
			text-align: center;
			//background: rgba(255, 255, 255, 255.9);
			border-radius: 0px;
			padding: 0 25px 15px 25px;
		}
		.search-box-bottom{
			text-align: center;
			//background: rgba(255, 255, 255, 0.8);
		}
		#input-filter{

		}
	}
}

.page-login{
	background: url('../img/login-background.jpeg') no-repeat center center;
	background-size: cover;
	opacity: 0.8;
}
.page-product{
	.product-content{
		.fa, .fa-arrow-left{
			color: white;
			font-size: 35px;
			margin-top: 15px;
			margin-left: 10px;
		}
		.product-title{
			h2{
				color: whitesmoke;
				font-size: 55px;
				text-shadow: -2px -2px 5px rgba(150, 150, 150, 1);
			}
			margin: 10px 0 10px 0;
		}
	}
	.product-header-red{
		background: url('../img/red-wine-header.jpg') no-repeat center center;
		background-size: cover;
		height: 200px;
	}
	.product-header-white{
		background: url('../img/white-wine-header.jpg') no-repeat center center;
		background-size: cover;
		height: 200px;
	}
	.product-header-rose{
		background: url('../img/rose-wine-header.jpg') no-repeat center center;
		background-size: cover;
		height: 200px;
	}
	.share-box{
		.fa-facebook,.fa-twitter,.fa-google-plus{
			color: white;
			font-size: 30px;
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.share-facebook{
			background-color: #4662B0;
			text-align: center;
		}
		.share-twitter{
			background-color: #1B95E0;
			text-align: center;
		}
		.share-google{
			background-color: #DB4437;
			text-align: center;
		}
	}
	.product-price{
		margin: 10px 0 10px 0;
		span{
			font-size: 35px;
			color: black;
			padding: 10px 10px 10px 10px;
		}
	}
	.box-add{
		margin-top: 15px;
		.product-add-input{
			input{
				border-radius: 20px;
				width: 15%;
				height: 42px;
				border: 1px solid @five-color;
				text-align: center;
				&:focus{
					box-shadow: rgb(0, 0, 0);
				}
			}
			button{
				background-color: lighten(@first-color, 10%);
				margin-left: 15px;
				border-radius: 20px;
				height: 42px;
				color: white;
				border:0px;
			}
		}
	}
	.rating{
		margin-top: 11px;
		span{
			font-size: 35px;
			button{
				border:0;
				background: transparent;
				padding: 0;
			}
			.fa-star,.fa-star-o{
				color: @third-color;
			}
		}
	}
	.rank-box,.product-rate{
		margin: 25px 0 10px 0;
		.fa-glass{
			color:@first-color;
			font-size: 35px;
		}
	}
	.product-photo{
		text-align: center;
		img{
			width: 70%;
		}
	}
	.product-box-content{
		margin-top:10px;
	}

}

.profile-header{
	height: 250px;
	background: url('../img/profileheader.jpg') no-repeat center center;
	background-size: cover;
	.profile-sub-header{
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 55px;
		position: absolute;
		background-color: rgba(0,0,0,0.35);
		.seguidores{
			p{
				color: white;
			}
		}
	}
}

.profile-content{
	h5{
		font-weight: bold;
	}
	.profile-photo{
		width: 50%;
		border-radius: 81px;
		border: 2px solid whitesmoke;
		margin-top: -97px;
		margin-left: 105px;
	}
}
/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */

.page-signup.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}
.page-signup.ng-enter 		{
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;
}
/* about ------------------------ */
.page-weather.ng-leave        {
    -webkit-animation:slideOutLeft 1s both ease-in;
	-moz-animation:slideOutLeft 1s both ease-in;
	animation:slideOutLeft 1s both ease-in;
}
.page-weather.ng-enter 		{
    -webkit-animation:slideInRight 1s both ease-in;
	-moz-animation:slideInRight 1s both ease-in;
	animation:slideInRight 1s both ease-in;
}

/* contact ---------------------- */
.page-login.ng-leave      {
    -webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-login.ng-enter 		{
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/*============================================================================= */


footer{
	background-color: black;
}
