<div class="row" style="background-color: #ECF0F5; height: 100%;">
	<div class="col-sm-12">
	<div class="admin-box">
			<div class="admin-box-header with-border">
				<div class="row">
					<div class="col-sm-6">
						<h4>Perfils</h4>
					</div>
					<div class="col-sm-6" style="text-align: right;">
						<div class="btn btn-primary"><a style="color: white;" ui-sref="profiles.all">Mostrar tots els perfils</a></div>
					</div>
				</div>
			</div>
			<div class="admin-box-body">
				<div class="row">
					<div class="col-sm-12">
						<div ui-view></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
