<div class="row" style="background-color: #ECF0F5; height: 100%;">
	<div class="col-sm-12">
		<div class="row">
			<div class="admin-box">
			<div class="admin-box-header with-border">
				<h4>Dades generals</h4>
			</div>
			<div class="admin-box-body">
				<div class="row">
					<div class="col-sm-4">
						<div class="hero-widget well well-sm">
							<div class="icon">
								 <i class="glyphicon glyphicon-envelope"></i>
							</div>
							<div class="text">
								<var>0</var>
								<label class="text-muted">Email enviats aquest mes</label>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="hero-widget well well-sm">
							<div class="icon">
								 <i class="glyphicon glyphicon-envelope"></i>
							</div>
							<div class="text">
								<var>0</var>
								<label class="text-muted">Email enviats aquest mes</label>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="hero-widget well well-sm">
							<div class="icon">
								 <i class="glyphicon glyphicon-envelope"></i>
							</div>
							<div class="text">
								<var>0</var>
								<label class="text-muted">Email enviats aquest mes</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
