<div class="row clearfix">
	<div class="column col-md-12">
		<h1>TIEMPO</h1>
		    <div class="col-sm-5 col-sm-offset-7">
            	<h1>{{ fiveDay.city_name }}</h1>
            	<h2>5-day forecast</h2>
	            <div class="forecast" ng-repeat="day in fiveDay.days">
	              <div class="day row">
	                <!-- datetime -->
	                <div class="weekday col-xs-4">
			              <p style="font-weight:bold;">
	                  {{day.datetime | date}}
	    	            </p>
	                </div>
	                <!-- icon -->
	                <div class="weather col-xs-3">
	                  <div>
	                    <img ng-src="{{ day.icon }}">
	                  </div>
	                </div>
	                <div class="col-xs-1"></div>
	                <!-- high -->
	                <div class="high col-xs-2">
	                	{{day.high}}
	                </div>
	                <!-- low -->
	                <div class="low col-xs-2">
						{{day.low}}
	                </div>
	              </div>
	            </div>
          </div>
	</div>
</div>
