<!--  partials.allprofiles.html>  -->
<div class="row" data-ng-init="showAllProfiles()">
	<div class="col-sm-12">
		<table class="table">
			<tr style="background-color:grey;">
				<td>Nombre</td>
				<td>Apellidos</td>
				<td>Admin</td>
				<td>Email</td>
				<td>Acción</td>
			</tr>
			<tr ng-repeat="profile in allProfiles">
				<td>{{ profile.nombre }}</td>
				<td>{{ profile.apellidos }}</td>
				<td>{{ profile.isAdmin }}</td>
				<td>{{ profile.email }}</td>
				<td><a ui-sref="profiles.profilesid({ id: profile._id })">Icono Ver<a/></td>
			</tr>
		</table>
	</div>
</div>
