<h1>Perfil de {{userProfile.nombre}}</h1>
<div class="row" data-ng-init="getProfileById()">
	<div class="col-sm-3"></div>
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<h2></h2>
					</div>
					<div class="col-sm-12">
						<table class="table">
							<tr>
								<td><label>Nom</label></td>
								<td><input type="text" class="form-control" ng-model="userProfile.nombre"></td>
							</tr>
							<tr>
								<td><label>Cognoms</label></td>
								<td><input type="text" class="form-control" ng-model="userProfile.apellidos"></td>
							</tr>
							<tr>
								<td><label>Email</label></td>
								<td><input type="text" class="form-control" ng-model="userProfile.email"></td>
							</tr>
							<tr>
								<td><label>Verificat</label></td>
								<td>
									<p ng-if="userProfile.verified">Si</p>
									<p ng-if="!userProfile.verified">No</p>
								</td>
							</tr>
							<tr>
								<td><label>Admin</label></td>
								<td>
									<select name="singleSelect" ng-model="userProfile.isAdmin">
								      <option value='true'>Admin</option>
								      <option value='false'>No Admin</option>
								    </select><br>
								</td>
							</tr>
							<tr>
								<td><label>Contrasenya</label></td>
								<td>Reactivar contrasenya</td>
							</tr>
						</table>
					</div>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6">
								<button class="btn btn-primary" ng-click="updateProfile()">Modificar</button>
							</div>
							<div class="col-sm-6">
								<button class="btn btn-danger" ng-click="deleteProfile()">Borrar Usuari</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
